<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Note - Clone</title>
    <link rel="stylesheet" href="/Public/style.css">
</head>
<body>
    <!-- Top Bar -->
    <div class="top-bar">
        <p>Free Delivery. Get 10% off on Bank Transfer. <a href="#">Shop Now</a></p>
    </div>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="logo">
                <img src="./images/the_note_logo-01_1_847c8545-209c-42e4-a465-72cba0ea58a0_180x.avif" alt="The Note Logo">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Collection</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
            <div class="header-icons">
                <!-- Search Icon -->
                <a href="#">
                    <img src="./images/magnifying-glass-icon-isolated-on-white-background-search-illustration-vector.jpg" alt="Search Icon">
                </a>
                
                <!-- User Icon -->
                <a href="/admin">
                    <img src="./images/download.png" alt="User Icon">
                </a>
                
                <!-- Cart Icon -->
                <a href="#">
                    <img src="./images/shopping-bag-line-icon-isolated-on-white-background-eps10-free-vector.jpg" alt="Cart Icon">
                    <span class="cart-count">0</span>
                </a>
            </div>
        </div>
    </header>

    <!-- WhatsApp Icon -->
    <div class="whatsapp-icon">
        <a href="#"><img src="./images/whatsapp.jpg" alt="WhatsApp Icon"></a>
    </div>

    <!-- Hero Section -->
    <section class="hero">
        <div class="hero-content">
            <h2>INTENSO</h2>
            <p>A bold symphony of depth and allure, <br> captivating with its rich essence</p>
            <button>SHOP NOW</button>
        </div>
    </section>

    

    <div class="men-products">
        <h2>DISCOVER OUR NEWEST <br>CREATIONS</h2>
        <br>
        <div class="discover-items">
            <a href="#" class="discover-link1">For HIM</a>
            <span class="separator">  /  </span>
            <a href="#" class="discover-link2">For HER</a>
        </div>
    </div>

    <section class="product-display-section">
        <div class="product-grid">
            <div class="product">
                <img src="./images/dusk-02-02.webp" alt="Dusk">
                <h3>Dusk</h3>
                <p>Rs 3899</p>
                <button class="shop-button">Add to Cart</button>
            </div>
            <div class="product">
                <img src="./images/intenso-02 (1).webp" alt="Intenso">
                <h3>Intenso</h3>
                <p>Rs 4199</p>
                <button class="shop-button">Add to Cart</button>
            </div>
            <div class="product">
                <img src="./images/NEROLI5-01 (2).jpg" alt="Neroli">
                <h3>Neroli</h3>
                <p>Rs 4399</p>
                <button class="shop-button">Add to Cart</button>
            </div>
            <div class="product">
                <img src="./images/Woods-012_medium.avif" alt="Woods">
                <h3>Woods</h3>
                <p>Rs 4399</p>
                <button class="shop-button">Add to Cart</button>
            </div>
        </div>
    </section>

    <!-- Banner fro HIM -->
    <section class="hero banner-2">
        <div class="hero-content">
            <h2>FOR HIM</h2>
            <p>Unleash his charisma with our selection <br> of bold, unforgettable fragrances</p>
            <button>SHOP NOW</button>
        </div>
    </section>


    <!-- FOR HIM product  -->
    <div class="product-grid product-display">
        <div class="product">
            <img src="./images/dusk-02-02.webp" alt="Dusk">
            <h3>Dusk</h3>
            <p>Rs 3899</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/intenso-02 (1).webp" alt="Intenso">
            <h3>Intenso</h3>
            <p>Rs 4199</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/NEROLI5-01 (2).jpg" alt="Neroli">
            <h3>Neroli</h3>
            <p>Rs 4399</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/Woods-012_medium.avif" alt="Woods">
            <h3>Woods</h3>
            <p>Rs 4399</p>
            <button class="shop-button">Add to Cart</button>
        </div>
    </div>

    <!-- Banner fro HER -->
    <section class="hero banner-2 for-her">
        <div class="hero-content">
            <h2>FOR HER</h2>
            <p>Each scent composing a melodious ode
             <br> to her femininity, strength, and allure </p>
            <button>SHOP NOW</button>
        </div>
    </section>


    <!-- FOR HER product  -->
    <div class="product-grid product-display">
        <div class="product">
            <img src="./images/MEDUSA.webp" alt="Dusk">
            <h3>MEDUSA</h3>
            <p>Rs 3899</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/HERA.webp" alt="Intenso">
            <h3>HERA</h3>
            <p>Rs 4199</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/soulportrait-02.webp" alt="Neroli">
            <h3>SOUL'S PORTRAIT</h3>
            <p>Rs 4399</p>
            <button class="shop-button">Add to Cart</button>
        </div>
        <div class="product">
            <img src="./images/GODDESS.webp" alt="Woods">
            <h3>GODDESS</h3>
            <p>Rs 4399</p>
            <button class="shop-button">Add to Cart</button>
        </div>
    </div>

    <div class="breathe-luxury">
        <div class="our-story">
            <img src="./images/breathe_luxury.webp" alt="breathe-luxury">
        </div>
        <div class="text">
            <h1>BREATHE LUXURY</h1>
            <p>At "THE NOTE." our journey begins with a simple yet profound belief: Life is a symphony of moments, and each moment carries its unique note. We have
            made it our mission to capture these notes, bottle them, and present them
            to you in the form of exquisite fragrances.</p>
            <button class="discover-button">Discover More</button>
            
        </div>
    </div>

    
    <div class = 'services'>
        <h1>WHEN YOU BUY ONLINE</h1>
        <H3>OUR SERVICES</H3>
    </div>

    <div class="icons">
        <div class="icon">
            <img class = 'imgs'src="./images/customer-service.png" alt="Customer Service">
            <p>CUSTOMER SERVICE</p>
            <p>For any question, contact</p>
            <p>info@thenoteofficial.com</p>
        </div>
        <div class="icon">
            <img class = 'imgs'src="./images/fast-delivery.png" alt="Delivery">
            
            <p>Free Complimentary Delivery</p>
        </div>
        <div class="icon">
            <img class = 'imgs' src="./images/sample.png" alt="Complimentary Samples">
            <p>COMPLIMENTARY SAMPLES</p>
        </div>
        <div class="icon">
            <img class = 'imgs'src="./images/secure.png" alt="Secure Payment">
            <p>SECURE PAYMENT</p>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-container">
            <section class="footer-section">
                <address class = 'address'>
                    <p><i class="fa fa-map-marker"></i> DHA Phase 6, Lahore, Pakistan</p>
                    <p><i class="fa fa-phone"></i> +61411159544</p>
                    <p><i class="fa fa-envelope"></i> info@thenoteofficial.com</p>
                </address>
                <ul class="social-links">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h2>MY ACCOUNT</h2>
                <ul>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">ORDER TRACKING</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h2>INFORMATION</h2>
                <ul>
                    <li><a href="#">ABOUT US</a></li>
                    <li><a href="#">BLOGS</a></li>
                </ul>
            </section>

            <section class="footer-section">
                <h2>POLICIES</h2>
                <ul>
                    <li><a href="#">DELIVERY & ORDERS</a></li>
                    <li><a href="#">EXCHANGE & RETURNS</a></li>
                </ul>
            </section>
        </div>
    </footer>

    <section class="site-footer">
        <div class="footer-content">
            <div class="footer-info">
                <p>&copy; 2024 The Note. All Rights Reserved.</p>
                <div class="language-options">
                    <select id="country-select">
                        <option value="Pakistan">Pakistan</option>
                    </select>
                    <select id="language-select">
                        <option value="English">English</option>
                    </select>
                </div>
            </div>
            <div class="payment-logos">
                <img src="./images/visa.jfif" alt="Visa">
                <img src="./images/master.jfif" alt="Mastercard">
                <img src="./images/union.jfif" alt="American Express">
            </div>
        </div>
    </section>

    


</body>
</html>
